*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px sans-serif;
    color: grey;
}

a{
    opacity: 0.5;
}

a:hover{
    opacity: 1;
}

.active{
    color: #e74c3c !important;
    opacity: 1;
}

.font18{
    font-size: 18px;
}