*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px sans-serif;
}

a{
    color: white !important;
    opacity: 0.5;
}

a:hover{
    opacity: 1;
}

.menu{
    background: blue !important;
}
.segment{
    background: cornflowerblue !important;
}

.active{
    background: cornflowerblue !important;
    opacity: 1;
}

.font18{
    font-size: 18px;
}