*{
    margin: 0;
    padding: 0;

}

html, body {
    height:100%;
}

html {
    font: normal 16px sans-serif;
}

a{
    color: white !important;
    opacity: 0.5;
}

a:hover{
    animation: 1s fadein forwards;
}

@keyframes fadein {
    100%{
        opacity: 1;
    }
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw 15vh;
}

.menu{
    opacity: 0;
    animation: 4s reveal forwards;
    background: blue !important;
    margin-bottom: 0 !important;
}
.segment{
    opacity: 0;
    animation: 4s reveal forwards;
    background: cornflowerblue !important;
    margin-bottom: 0 !important;
}

@keyframes reveal {
    100%{
        opacity: 1;
    }
}

.active{
    background: cornflowerblue !important;
    opacity: 1;
}

.font18{
    font-size: 18px;
}

.button{
    text-transform: uppercase !important;
}

.hero{
    position: relative;
    justify-content: center !important;
    text-align: center !important;
    min-height: 100vh;
}

.IndexImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: #80a3db;
}

.hero-content-area{
    padding-top: 50px;
    color: cornflowerblue;
    margin: 0 auto;
    border: solid 3px cornflowerblue;
    border-radius: 400px;
    width: 350px;
    height: 250px;
    text-align: center !important;


    animation-name: streching;
    animation-duration: 10s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;

}

@keyframes  streching{
    0%, 100%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.1);
    }
}


.hero-content-area:hover{
    animation: 1s colorin forwards;
}

@keyframes colorin {
    100%{
        background-color: white;
        border: solid 3px blue;
        color: blue;
    }
}



ul{
    list-style: none;
}

.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

hr{
    width: 100%;
    height: 3px !important;
    background-color: cornflowerblue;
    margin-bottom: 50px;
}

section p{
    line-height: 2;
    margin-bottom: 30px;
    text-align: center;
}

section h3.title{
    text-transform: capitalize;
    font: bold 32px 'Open Sans';
    margin-bottom: 30px;
    text-align: center;
}







.periods .grid li{
    height: 400px;
    padding: 10px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.periods .grid li.small{
    flex-basis: 45%;
}

.periods .grid li.large{
    flex-basis: 90%;
}
