body {
    background-color: black;
}

#landing-header {
    /*We set the z-index to 1 so all of the elements inside the landing-header div
        will be in front of the background images*/
    z-index: 1;
    /*The position is set to relative so we can use the z-index property;
    the default position value is static, which ignores z-index*/
    position: relative;

    text-align: center;
    /*We use padding-top to vertically center our div, since it's contents take up quite a bit of
    space we use 40vh (view height) instead of 50,
    this way the content looks more visually centered*/
    padding-top: 40vh;
}

#landing-header h1 {
    color: #fff;
}

.slideshow {
    position: fixed;

    /*Takes an entire page*/
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    /*Behind other content*/
    z-index: 0;

    /*Remove bullet-points*/
    list-style: none;
    
    margin: 0;
    padding: 0;
}