body{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-attachment: fixed
}

.navbar{
    background: rgba(0,0,0,0.4);
}

.whiteTextColor{
    color: white;
}

.redTextColor{
    color: red;
}

.limeTextColor{
    color: lawngreen;
}

.showCampImage{
    height: 500px;
}

.dummyContainer{
    margin-bottom: 100px;
}

.bodyNavbarMargin{
    margin-bottom: 30px;
}

.navbarMargin{
    margin: 10px;
}

.NewPost{
    width: 30%;
    margin: 25px auto;
}

.CampgroundsIndexImage{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    height: 160px;
}

.Inline{
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}