                </div>
                <footer class="footer">
                    <div class="container">
                        <p class="text-muted">&copy; Campgrounds 2018 |
                            <a href="/campgrounds">Home</a> |
                            <a href="/campgrounds/new">New Campground</a></p>
                    </div>
                </footer>


                <!-- Custom JS for search feature -->
                <script src="/scripts/search.js" async defer></script>


        <!--Both necessary for hamburger-->
        <script src="/scripts/jquery-3.3.1.js"></script>
        <script src="/scripts/bootstrap.min.js"></script>
    </body>
</html>







