<% include partials/header %>


<div class="container">
    <header class="jumbotron">
        <h2>Welcome to Campgrounds!</h2>
    </header>

    <% campgrounds.forEach(function(campground){%>
            <div>
                <h4><%= campground.name%></h4>
                <img src="<%= campground.image%>">
            </div>
    <%});%>
</div>

<% include partials/footer %>